<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/styles/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="body">
    <style>
    .body{ 
    background-size: 2000px 1200px;
        background-image: url('https://img.freepik.com/free-photo/optical-fiber-with-blue-light_23-2148242670.jpg?w=1380&t=st=1685302258~exp=1685302858~hmac=6b8a9d4075cd252783bffdbf1ff3fd3c7611f33b714d8a095c32d198dab01d23');
    }
    .container{
        margin-top: 20px;
        background-image: url("https://img.freepik.com/free-vector/abstract-digital-low-poly-connection-banner-design_1017-32434.jpg?w=1380&t=st=1684257888~exp=1684258488~hmac=990a8fa3b638d240faefdda791acbb35397cfe4a46f196a5bab6f991e3caebec");
    }
</style>
        {{> nav}}

        <div class="header_section text-center">
            <h1 style="color: rgb(255, 255, 255);" >A Fullstack Web Developer & Blockchain Enthusiast</h1>
            <p style="color:rgb(255, 255, 255)">I prefer to keep simply yet powerful designs.</p>
            <img  src="https://media-public.canva.com/q_rSs/MAEqsuq_rSs/1/tl.png" alt="hero">
        </div>

        <div  class="hero_section" id="home">
            <img src="https://media-public.canva.com/8e4-U/MAFS648e4-U/1/tl.png" alt="hero image" width="500px">
            <div style="background-color: aquamarine;" class="bg-dark p-5 text-center text-light">
                <h2>Hi, I’m Null. Nice to meet you.</h2>
                <p>As a B.Tech student in Information Technology at NIET, I have a great passion for learning to explore different fields. Although I may have limited experience in company work life, I am always eager to experiment with various areas of work on my own. This includes using Android Studio with Java and delving into machine learning with Python.

One of my strongest traits is my ability to adapt to diverse fields and technologies. I am always looking for new challenges. I believe that this mindset allows me to broaden my knowledge base and discover areas of work that I am most interested in.
In terms of work ethic, I am dedicated and strive to consistently improve both personally and professionally.

Skills:-<br>
<ul> 1. Programming Languages: 1. Python (Academical), 2. Java/Javascript(Beginner level)</ul>
<ul> 2. Python Libs: Numpy, Pandas |  Js Lib: Express, mongoose, etc.</ul>
<ul>2. Frameworks: Android Studio, Vs code</ul>
<ul>3. Node js for Backend</ul>
<ul>4. Open source Git/GitHub, Bootstrap</ul>
</p>
            </div>
        </div>
        <div class="row card_state" style="min-height: 700px       ;">
            <div class="col-12 col-md-4 col-lg-4 mt-5" >
                <div class="card border-0 p-5 shadow" style="min-height: 700px
                ;">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Backend</h4>
                        <p>I like to indulge myself into Open Source, todays tech doesnt need to rely on building from scratch, Its like reinventing the wheel .</p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">Backend Tech Stack Langs:</h5>
                        <p>JavaScript, Pyhton, mongo</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Tech Stack:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">Node JS</li>
                           <li class="list-group-item">MOngoDB</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">Terminal</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow" style="min-height:700px;">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Frontend </h4>
                        <p>I prefer to add inovations to the code already exist.</p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">Front End Tech Stack Langs:</h5>
                        <p>HTML,CSS,Git</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Tech Stack:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">NOde Js</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">Terminal</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow" style="min-height: 700px;">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Website SEO</h4>
                        <p>I may not have much of Professional Expreience in this domain, but I can assure you with my knowledge.</p>
                    </div>

                        <h6 class="text-primary text-center">Tools</h6>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item">Google Analytics/ Search console </li>
                            <li class="list-group-item"> Keyword Researching</li>
                            <li class="list-group-item">Content Optimization</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="service text-center" id="service">
            <h2 style="color:rgb(255, 255, 255)" > Services </h2>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="https://media-public.canva.com/P8lpI/MAEqtdP8lpI/1/tl.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>Website Maintance </h5>
                            <p>Ensuring the smooth operation of your website with
                                 us maintenaning your site, including updates,
                                 backups, and performance optimization.</p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="https://media-public.canva.com/oIcuM/MAFGFFoIcuM/1/tl.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>Website Development</h5>
                            <p>Elevate your online presence with our dynamic website development services, offering engaging features and seamless user experiences.</p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="https://media-public.canva.com/-63oY/MAE3Lc-63oY/1/tl.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>Database Management</h5>
                            <p>Empower website with convenient, one-click modifications through  database connectivity, granting you full control over content updates.




</p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
    
<div class="container">
        <hr class="mt-5 mb-5">

        <div class="contact_us" id="contact">
            <form method="POST" action="/contactdata">
                <h2 style="color: aliceblue;"  class="text-center">Contact Us</h2>
                <div class="mb-3">
                    <label style="color: aliceblue;"  for="username" class="form-label">user name </label>
                    <input name="user" type="text" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label style="color: aliceblue;"  for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label style="color: aliceblue;" for="" class="mb-2">type your message here...</label>
                    <div class="form-floating">
                        <textarea name="msg" class="form-control" placeholder="Leave a comment here"
                            id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Query</label>
                    </div>
                </div>
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="footer bg-light" id="about">
            <img style="he
            100px; width:100px; padding:10px;" src="https://uploads-ssl.webflow.com/60cca9384ff7eaa931a24b69/60ce440d8fffcaf55396b276_meanstack-p-500.png" alt="logo">

            <h3>Follow to get recent logs.</h3>

            <div class="social_icons">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                <a href=""><i class="fa fa-whatsapp"></i></a>
            </div>
            <p>
                 ©Null</p>
        </div>
    <script src="js/bootstrap.min.js"></script>
</div>
</body>

</html>